### Challenge 1. Traitement de données geospatial en Python

In [1]:
import json
import psycopg2
from typing import Dict, List
from collections import defaultdict
import pandas as pd
import numpy as np

In [2]:
# Opening JSON file 
#ref1: https://www.geeksforgeeks.org/read-json-file-using-python/
f = open('cadastre-75-parcelles.json')
# returns JSON object as 
# a dictionary
data = json.load(f)
# Iterating through the json
# list

### Determine the general length of id & commune to define their varchar length in Postgres SQL Database

In [3]:
def exhausted_traversal(data:Dict, id_max_len, commune_max_len):
    for k,v in data.items():
        #print(k)
        if k=='id':
            id_max_len = max(id_max_len, len(v))
        elif k=='commune':
            commune_max_len = max(commune_max_len, len(v))
        elif type(v)==dict:
            t1, t2 = exhausted_traversal(v, id_max_len, commune_max_len)
            id_max_len = max(id_max_len, t1)
            commune_max_len = max(commune_max_len, t2)
        elif type(v)==list and type(v[0])==dict:
            t1, t2 = exhausted_traversal(v[0], id_max_len, commune_max_len)
            id_max_len = max(id_max_len, t1)
            commune_max_len = max(commune_max_len, t2)
    return id_max_len, commune_max_len

In [4]:
id_max_len, commune_max_len = 0, 0

In [5]:
exhausted_traversal(data, id_max_len, commune_max_len)

(14, 5)

### Conclusion: So the max length of ID is 14 and max length of commune is 5

#### Check the general format of data dictionary

In [6]:
len(data)

2

In [7]:
len(data['features'])

1000

In [8]:
data['features'][0]

{'type': 'Feature',
 'id': '75101000AB0002',
 'geometry': {'type': 'Polygon',
  'coordinates': [[[2.3216448, 48.863771],
    [2.3251135, 48.8626367],
    [2.3252539, 48.8625907],
    [2.3261845, 48.8638563],
    [2.3261907, 48.8638647],
    [2.3245298, 48.8643932],
    [2.3237375, 48.8646452],
    [2.3224587, 48.8650521],
    [2.322371, 48.8649396],
    [2.322386, 48.8649347],
    [2.3223729, 48.8649184],
    [2.3223636, 48.8649058],
    [2.3223547, 48.8649088],
    [2.3216103, 48.8639468],
    [2.321618, 48.8639443],
    [2.3215962, 48.8639111],
    [2.3216017, 48.8639093],
    [2.3216065, 48.8638956],
    [2.3216437, 48.8637902],
    [2.3216485, 48.8637765],
    [2.3216448, 48.863771]],
   [[2.3232315, 48.8635035],
    [2.3231863, 48.8635183],
    [2.3231881, 48.8635207],
    [2.3230723, 48.8635588],
    [2.3230704, 48.8635564],
    [2.3230578, 48.8635604],
    [2.3230594, 48.8635627],
    [2.322944, 48.8636008],
    [2.3229421, 48.8635982],
    [2.3229292, 48.8636025],
    [2.322931, 48.8636047],
    [2.3228154, 48.8636427],
    [2.3228134, 48.8636404],
    [2.3228008, 48.8636445],
    [2.3228027, 48.863647],
    [2.3226914, 48.8636835],
    [2.3226869, 48.8636849],
    [2.3226852, 48.8636824],
    [2.3226726, 48.8636865],
    [2.3226744, 48.8636889],
    [2.3225579, 48.8637271],
    [2.3225561, 48.8637246],
    [2.3225436, 48.8637288],
    [2.3225454, 48.8637312],
    [2.3225408, 48.8637326],
    [2.3224297, 48.863769],
    [2.3224278, 48.8637668],
    [2.3224149, 48.8637708],
    [2.3224169, 48.8637733],
    [2.3223014, 48.8638112],
    [2.3222995, 48.8638088],
    [2.3222867, 48.863813],
    [2.3222885, 48.8638151],
    [2.3221726, 48.8638531],
    [2.3221708, 48.8638507],
    [2.3221583, 48.863855],
    [2.32216, 48.8638575],
    [2.3220442, 48.8638954],
    [2.3220423, 48.8638929],
    [2.3219969, 48.8639078],
    [2.3220142, 48.8639287],
    [2.321998, 48.8639341],
    [2.3220121, 48.8639529],
    [2.3220143, 48.8639522],
    [2.3220286, 48.8639476],
    [2.3220579, 48.8639863],
    [2.3220436, 48.8639911],
    [2.3220413, 48.8639918],
    [2.3220556, 48.8640105],
    [2.3220719, 48.864005],
    [2.322087, 48.8640275],
    [2.3221204, 48.8640165],
    [2.3221333, 48.8640338],
    [2.322336, 48.8639676],
    [2.3223438, 48.8639777],
    [2.3223987, 48.8639597],
    [2.3223909, 48.8639496],
    [2.3226234, 48.8638734],
    [2.322631, 48.8638836],
    [2.3226606, 48.863874],
    [2.3226528, 48.8638637],
    [2.3226679, 48.8638589],
    [2.3226712, 48.8638633],
    [2.3226728, 48.8638648],
    [2.3226778, 48.863869],
    [2.3226815, 48.8638715],
    [2.3226859, 48.863874],
    [2.3226957, 48.8638778],
    [2.3226995, 48.8638792],
    [2.3227058, 48.863881],
    [2.3227124, 48.863882],
    [2.3227194, 48.8638825],
    [2.3227269, 48.8638822],
    [2.3227336, 48.8638813],
    [2.3227405, 48.8638797],
    [2.322747, 48.8638777],
    [2.3227515, 48.8638758],
    [2.3227567, 48.863873],
    [2.3227617, 48.8638695],
    [2.3227661, 48.8638656],
    [2.3227691, 48.8638613],
    [2.3227712, 48.8638578],
    [2.3227736, 48.863852],
    [2.3227747, 48.8638486],
    [2.322775, 48.8638459],
    [2.3227747, 48.8638407],
    [2.3227744, 48.8638396],
    [2.3227733, 48.8638355],
    [2.3227707, 48.8638306],
    [2.3227675, 48.8638263],
    [2.3227825, 48.8638213],
    [2.3227888, 48.8638295],
    [2.3228112, 48.863822],
    [2.3228053, 48.863814],
    [2.3232985, 48.8636525],
    [2.3232854, 48.8636351],
    [2.3233217, 48.8636232],
    [2.3233038, 48.863602],
    [2.32332, 48.8635964],
    [2.3233052, 48.8635777],
    [2.3232888, 48.8635833],
    [2.3232588, 48.8635448],
    [2.3232749, 48.8635392],
    [2.3232603, 48.8635203],
    [2.3232463, 48.8635258],
    [2.3232315, 48.8635035]]]},
 'properties': {'id': '75101000AB0002',
  'commune': '75101',
  'prefixe': '000',
  'section': 'AB',
  'numero': '2',
  'contenance': 45688,
  'arpente': False,
  'created': '2006-10-06',
  'updated': '2016-07-21'}}

In [50]:
try:
    connection = psycopg2.connect(user="admin",
                                  password=1234,
                                  host="127.0.0.1",#or localhost
                                  port="15432",
                                  database="postgis")
except (Exception, psycopg2.Error) as error:
    print("Failed to establish connection to postgis database:\n\n", error)

In [51]:
cursor = connection.cursor()

### Create cadastre table for postgis data base:

In [52]:
postgres_create_query = "CREATE TABLE cadastre (Id varchar(14) PRIMARY KEY, Commune VARCHAR(5), Geometry geometry);"
#"CREATE TABLE test (id serial PRIMARY KEY, num integer, data varchar);"
cursor.execute(postgres_create_query)
connection.commit()  # <--- makes sure the change is shown in the database

### Try to insert one record into the database

In [53]:
postgres_insert_query = """ INSERT INTO cadastre (ID, Commune, Geometry) VALUES (%s,%s,%s)"""

In [54]:
chains = str()
i = 0
if len(data['features'][i]['geometry']['coordinates']) == 2:
    chains += '('
    for coords in data['features'][i]['geometry']['coordinates'][0]:
        chains += str(coords[0]) + ' ' + str(coords[1]) + ', '
    chains = chains[:-2]
    chains += '),'
    chains += '('
    for coords in data['features'][i]['geometry']['coordinates'][1]:
        chains += str(coords[0]) + ' ' + str(coords[1]) + ', '
    chains = chains[:-2]
    chains += ')'
elif len(data['features'][i]['geometry']['coordinates']) == 1:
    chains += '('
    for coords in data['features'][i]['geometry']['coordinates'][0]:
        chains += str(coords[0]) + ' ' + str(coords[1]) + ', '
    chains = chains[:-2]
    chains += ')'

In [55]:
geometry = data['features'][0]['geometry']["type"].upper()+'('+chains+')'

In [56]:
record_to_insert = (data['features'][0]['id'],data['features'][0]['properties']['commune'], geometry)

In [57]:
cursor.execute(postgres_insert_query, record_to_insert)

connection.commit()
count = cursor.rowcount
print(count, "Record inserted successfully into cadastre table")

1 Record inserted successfully into cadastre table

#### Examine the shape of the coordinates array

In [58]:
len(data['features'][0]['geometry']['coordinates'])

2

In [59]:
types = defaultdict(int)
for i in range(len(data["features"])):
    types[(len(data['features'][i]['geometry']['coordinates']))]+=1

In [60]:
types

defaultdict(int, {2: 4, 1: 996})

#### 4 polygons with holes, 996 without

### Automate the insertion process

In [61]:
for i in range(1,len(data["features"])): ### Skip the 1st record inserted
    chains = str()
    for j in range(len(data['features'][i]['geometry']['coordinates'])):
        chains += '('
        for coords in data['features'][i]['geometry']['coordinates'][j]:
            chains += str(coords[0]) + ' ' + str(coords[1]) + ', '
        chains = chains[:-2]
        chains += '),'
    chains = chains[:-1]
    geometry = data['features'][i]['geometry']["type"].upper()+'('+chains+')'
    record_to_insert = (data['features'][i]['id'],data['features'][i]['properties']['commune'], geometry)
    cursor.execute(postgres_insert_query, record_to_insert)

### Verify that we have inserted all the data with envisaged records

In [62]:
sql_select_query = """SELECT id FROM public.cadastre as ID_"""
cursor.execute(sql_select_query)
id_list = cursor.fetchall()

#### check one id_list content

In [63]:
id_list[0]

('75101000AB0002',)

In [64]:
id_list = list(map(lambda x:x[0],id_list))

In [65]:
print(id_list[0])

75101000AB0002

In [66]:
ids_set1 = set()
ids_set2 = set()
for i in range(len(id_list)):
    ids_set1.add(id_list[i])
    ids_set2.add(data['features'][i]['id'])

In [67]:
ids_set1.symmetric_difference(ids_set2)

set()

#### Since the ids we inserted are completely the same, we confirm that the insertion operation is correct

### Work with events.csv and see the similarities between it and cadastre-75-parcelles

In [68]:
events = pd.read_csv("events.csv", sep = ';')
events

               ts        lat       lon  type
0   1656099559000  48.883085  2.350508   imp
1   1655907766000  48.865399  2.341031   imp
2   1653220775000  48.883085  2.350508  clic
3   1651867101000  48.870123  2.330727   imp
4   1653894764000  48.864086  2.343968  clic
5   1652074568000  48.870226  2.330835   imp
6   1656189723000  48.883545  2.350779  clic
7   1652091598000  48.865399  2.341031  clic
8   1651962777000  48.879449  2.283949   imp
9   1656343923000  48.864086  2.343968   imp
10  1652085964000  48.869955  2.329858  clic
11  1654053079000  48.870226  2.330835  clic
12  1654813181000  48.863863  2.344146   imp
13  1655949056000  48.883288  2.350286   imp
14  1655435082000  48.862170  2.346788   imp
15  1653402783000  48.870226  2.330835  clic
16  1654234696000  48.883545  2.350779   imp
17  1654726666000  48.870226  2.330835   imp
18  1655866504000  48.862170  2.346788   imp
19  1654818536000  48.883545  2.350779   imp
20  1654876851000  48.864086  2.343968   imp
21  1652577821000  48.865431  2.341487   imp
22  1655391256000  48.879449  2.283949   imp
23  1652113251000  48.883575  2.350358   imp
24  1651382335000  48.862170  2.346788   imp
25  1654968255000  48.870238  2.330553  clic
26  1652201741000  48.870238  2.330553   imp
27  1655830572000  48.865374  2.340988  clic
28  1654614474000  48.883575  2.350358   imp
29  1653044021000  48.870238  2.330553   imp
30  1655173610000  48.870123  2.330727   imp
31  1652105140000  48.883545  2.350779  clic
32  1652984644000  48.863863  2.344146  clic
33  1655348438000  48.864086  2.343968  clic
34  1655111043000  48.879262  2.283643   imp
35  1656307134000  48.865374  2.340988  clic
36  1652655521000  48.883288  2.350286  clic
37  1656189723000  48.883545  2.350779  clic
38  1652655521000  48.883288  2.350286  clic
39  1652113251000  48.883575  2.350358   imp

### Since only one coordinate of an event is provided, but multiple coordinates of a Polygon are provided, so we can just request the centroid of the polygons for a event to find its neareast parcelle.

(https://postgis.net/docs/ST_Centroid.html)

In [69]:
sql_select_query3 = """SELECT id, commune, ST_AsText(ST_centroid(geometry)) from cadastre"""
cursor.execute(sql_select_query3)
query3_list = cursor.fetchall()

In [70]:
query3_list[0]

('75101000AB0002', '75101', 'POINT(2.323909416857558 48.86382909607925)')

In [71]:
query3_result = []
for i in range(len(query3_list)):
    temp = query3_list[i][2][6:-1].split(' ')
    query3_result.append((query3_list[i][0], query3_list[i][1], float(temp[0]), float(temp[1])))

In [72]:
query3_result[0]

('75101000AB0002', '75101', 2.323909416857558, 48.86382909607925)

### JSON RETURN FORMAT WANTED:

{“id_parcelle1”: {“imp”: \<NB_EVENT\>, “clic”: \<NB_EVENT\>}, “id_parcelle2”:
{“imp”: \<NB_EVENT\>, “clic”: \<NB_EVENT\>}}

In [73]:
result_json = defaultdict(dict)

In [74]:
events

               ts        lat       lon  type
0   1656099559000  48.883085  2.350508   imp
1   1655907766000  48.865399  2.341031   imp
2   1653220775000  48.883085  2.350508  clic
3   1651867101000  48.870123  2.330727   imp
4   1653894764000  48.864086  2.343968  clic
5   1652074568000  48.870226  2.330835   imp
6   1656189723000  48.883545  2.350779  clic
7   1652091598000  48.865399  2.341031  clic
8   1651962777000  48.879449  2.283949   imp
9   1656343923000  48.864086  2.343968   imp
10  1652085964000  48.869955  2.329858  clic
11  1654053079000  48.870226  2.330835  clic
12  1654813181000  48.863863  2.344146   imp
13  1655949056000  48.883288  2.350286   imp
14  1655435082000  48.862170  2.346788   imp
15  1653402783000  48.870226  2.330835  clic
16  1654234696000  48.883545  2.350779   imp
17  1654726666000  48.870226  2.330835   imp
18  1655866504000  48.862170  2.346788   imp
19  1654818536000  48.883545  2.350779   imp
20  1654876851000  48.864086  2.343968   imp
21  1652577821000  48.865431  2.341487   imp
22  1655391256000  48.879449  2.283949   imp
23  1652113251000  48.883575  2.350358   imp
24  1651382335000  48.862170  2.346788   imp
25  1654968255000  48.870238  2.330553  clic
26  1652201741000  48.870238  2.330553   imp
27  1655830572000  48.865374  2.340988  clic
28  1654614474000  48.883575  2.350358   imp
29  1653044021000  48.870238  2.330553   imp
30  1655173610000  48.870123  2.330727   imp
31  1652105140000  48.883545  2.350779  clic
32  1652984644000  48.863863  2.344146  clic
33  1655348438000  48.864086  2.343968  clic
34  1655111043000  48.879262  2.283643   imp
35  1656307134000  48.865374  2.340988  clic
36  1652655521000  48.883288  2.350286  clic
37  1656189723000  48.883545  2.350779  clic
38  1652655521000  48.883288  2.350286  clic
39  1652113251000  48.883575  2.350358   imp

In [75]:
for i in range(len(events)):
    x, y, type_ = events["lon"][i], events["lat"][i], events["type"][i]
    distance_rank = [None]*len(query3_result)
    for j in range(len(query3_result)):
        dist = (query3_result[i][2]-x)*(query3_result[i][2]-x)+(query3_result[i][3]-y)*(query3_result[i][3]-y)
        distance_rank[j] = (query3_result[i][0],dist)
    #return the id of the parcelle and its associated distance
    associated_parameters = sorted(distance_rank, key = lambda x:x[1], reverse = False)[0]
    associated_id = associated_parameters[0]
    if type_ not in result_json[associated_id]:
        result_json[associated_id][type_] = 1
    else:
        result_json[associated_id][type_] += 1

In [76]:
associated_id

'75113000AA0002'

In [77]:
result_json

defaultdict(dict,
            {'75101000AB0002': {'imp': 1},
             '75101000AB0001': {'imp': 1},
             '75101000AC0002': {'clic': 1},
             '75102000AB0027': {'imp': 1},
             '75102000AB0029': {'clic': 1},
             '75101000AC0001': {'imp': 1},
             '75101000AD0001': {'clic': 1},
             '75102000AB0080': {'clic': 1},
             '75102000AB0068': {'imp': 1},
             '75102000AB0048': {'imp': 1},
             '75102000AB0046': {'clic': 1},
             '75102000AB0053': {'clic': 1},
             '75102000AB0035': {'imp': 1},
             '75102000AB0051': {'imp': 1},
             '75102000AB0050': {'imp': 1},
             '75102000AB0005': {'clic': 1},
             '75102000AB0013': {'imp': 1},
             '75102000AB0059': {'imp': 1},
             '75102000AB0079': {'imp': 1},
             '75102000AB0074': {'imp': 1},
             '75102000AB0031': {'imp': 1},
             '75105000AB0124': {'imp': 1},
             '75107000AB0020': {'imp': 1},
             '75104000AB0064': {'imp': 1},
             '75108000AB0005': {'imp': 1},
             '75106000AB0001': {'clic': 1},
             '75110000AA0019': {'imp': 1},
             '75103000AB0100': {'clic': 1},
             '75109000AA0001': {'imp': 1},
             '75112000AA0036': {'imp': 1},
             '75101000AK0032': {'imp': 1},
             '75111000AA0063': {'clic': 1},
             '75114000AB0016': {'clic': 1},
             '75115000AB0029': {'clic': 1},
             '75116000AA0004': {'imp': 1},
             '75118000AA0002': {'clic': 1},
             '75117000AB0005': {'clic': 1},
             '75101000AD0002': {'clic': 1},
             '75119000AA0146': {'clic': 1},
             '75113000AA0002': {'imp': 1}})

In [78]:
# https://www.geeksforgeeks.org/how-to-convert-python-dictionary-to-json/
# Data to be written
with open("result1.json", "w") as outfile:
    json.dump(result_json, outfile)

### Actually, we can determine more rigourously whether a point is in the polygon with algorithms showed below. But unfortunately, we need to have the number of vertices of each polygon, which is missing:

https://www.eecs.umich.edu/courses/eecs380/HANDOUTS/PROJ2/InsidePoly.html

In [ ]:
# The algorithms below won't work because npol is the length of points provided but not the number of edges of polygons
def pnpoly(points, x:float, y:float)->int:
    """
    return 1 for interior points and 0 for exterior points
    """
    npol = len(points)
    i, j, c = 0, npol-1, 0
    while i<npol:
        temp = (points[j][0] - points[i][0]) * (y - points[i][1]) / ((points[j][1] - points[i][1]) + points[i][0])
        if (((points[i][1] <= y) and (y < points[j][1])) or ((points[j][1] <= y) and (y < points[i][1]))) and (x < temp):
            c = 1-c
            print("swaped")
        j = i
        i += 1
    return c
    """
    xp: List[float], yp: List[float],
    
    npol = len(xp)
    i, j, c = 0, npol-1, 0
    while i<npol:
        temp = (xp[j] - xp[i]) * (y - yp[i]) / ((yp[j] - yp[i]) + xp[i])
        if (((yp[i] <= y) and (y < yp[j])) or ((yp[j] <= y) and (y < yp[i]))) and (x < temp):
            c = 1-c
        j = i
        i += 1
    return c
    """

In [ ]:
events_dict = defaultdict(list)

In [ ]:
lats = events["lat"].to_numpy()
lons = events["lon"].to_numpy()

In [ ]:
for i in range(len(events)):
    x,y = lons[i], lats[i]
    for j in range(len(data["features"])):
        temp = data["features"][j]['geometry']['coordinates'][0]
        if len(data["features"][j]['geometry']['coordinates'])==2:
            temp += data["features"][j]['geometry']['coordinates'][1]
        c = pnpoly(temp, x, y)
        if c==1:
            events_dict[i].append(j)

In [ ]:
events_dict

In [79]:
# Closing the json data file
f.close()

In [80]:
if connection:
    connection.commit()
    count = cursor.rowcount
    #print(count, "Record inserted successfully into cadastre table")